<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register - Daily Journal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<meta name="theme-color" content="#4a90e2">
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js");
  }
</script>

</head>
<body>
  <div class="login-container">
    
    <div class="login-card">
      <h2>Create an Account 👤</h2>
      <p>Join Daily Journal to start documenting your journey</p>

      <form action="{{ url_for('register') }}" method="POST">
        <div class="input-group">
          <label for="name">Full Name</label>
          <input type="text" name="name" placeholder="John Doe" required />
        </div>

        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="you@example.com" required />
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Create a strong password" required />
        </div>

        <button type="submit" class="login-btn">Register</button>
      </form>

      <p class="bottom-text">
        Already have an account?
        <a href="{{ url_for('home') }}">Login here</a>
      </p>
    </div>
  </div>
</body>
<footer>
  <p>&copy; 2025 Daily Journal</p>
  <p>Developed by <a href="https://techverrasolutions.vercel.app/">Techverra Solutions Pvt. Ltd.</a></p>
</footer>
</html>
